* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body {
    height: 100vh;
}

a {
    text-decoration: none;
    color: #ECECEC;;
}

.header {
    font-family: 'Press Start 2p', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2C2C54;
    display: flex;
    justify-content: center;
    height: 15vh;
    align-items: center;
    color: #ECECEC;
    -webkit-text-stroke-color: gray;
    -webkit-text-stroke-width: 0.8px;
}

.gamebody {
    background-color: #AAABB8;
    height: 75vh;
}

.txtcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    color: white;
}

.gameinfo_result{
    font-family: 'Press Start 2p', Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: 400;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.8px;
}

.gameinfo_description {
    font-family: Roboto;
    margin-top: 2vh;
    font-size: 25px;
}

.scores{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    min-height: 185.5px;
}
.playercontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 325px;
    min-height: 185.5px;
}

.computercontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 325px;
    min-height: 185.5px;
}

#p1icon, #p2icon {
    font-family: 'Press Start 2p', Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    min-height: 101px;
    
}

.player, .computer{
    font-family: 'Press Start 2p', Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 1vh;
    margin-top: 2vh;
    /* -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.5px; */
}

.choices {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 50vh;
}

.rock, .paper, .scissors{
    display: flex;
    font-size: 106px;
    background-color: #474787;
    border-radius: 20%;
    margin: 15px;
    min-width: 150px;
    min-height: 150px;
    justify-content: center;
    align-items: center;
}

#rock, #paper, #scissors{
    min-width: auto;
    min-height: 110px;
}

.footer{
    background-color: #474787;
    width: auto;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myself {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    color: #ECECEC;
}



.overlay{
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    left: 0;
    opacity: 0.8;
}
.active {
    display: block;
}

#endgame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}

#endbtn{
    font-family: 'press start 2p', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 1;
    min-height: 15vh;
    width: 30vh;
    opacity: 1;
}

#endmsg {
    font-family: 'press start 2p', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 1;
    font-size: 40px;
    border: 1px solid black;
    color: white;
    min-height: 15vh;
    width: 30vh;
    text-align: center;
}

@media (max-width: 730px){
    .title{
        font-size: 20px;
        
    }
    .gamebody, .header, .footer {
        width: 100vh;
        justify-content: flex-start;
    }

    .txtcontainer{
        margin: 0;
        align-items: flex-start;
    }
    .scores{
        margin: 0;
        gap: 1vh;
        justify-content: flex-start;
    }

    #p1icon, #p2icon {
        font-size: 50px;
        min-height: 101px;
        
    }
    .player, .computer{
        font-size: 10px;
        margin: 0;
    }
    .playercontainer, .computercontainer{
        min-width: 100px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .gameinfo_description, .gameinfo_result{
        font-size: 15px;
    }

    .choices{
        margin: 0;
        justify-content: flex-start;
    }
    .rock, .paper, .scissors{
        font-size: 50px;
        min-width: 75px;
        min-height: 75px;
    }
    #rock, #paper, #scissors{
        min-width: 75px;
        min-height: 75px;
    }
    .myself{
        font-size: 15px;
    }
}







